.abc{
    background-color: #a02f32;
}
.abcd{
    background-color: #EF5A5C;
}
.abcde{
    background-color: #30567a;
}
.abcdef{
    background-color: #73A3D4;
}
.greendark{
    background-color: #188754;
}
.green{
    background-color: #63C463;
}
.darkdark{
    background-color: #6C757E;
}
.dark{
    background-color: #808082;
}
.secondary{
    background-color: #DFDFDF;
}








